html {

    background-color: lightcoral;
}

#grid {
    display:grid;
    border: solid 10px;
    border-color:  red;
    padding: 0px;
    height: 960px;
    width: 960px;
    grid-template-columns: repeat(var(--sideNum), 1fr);

}

.box {
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: grey;


}
#header {

    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}
#main {

    display: flex;
    justify-content: space-between;
}

#buttons {
    display:flex;
    flex-direction:column;

}